.post-body h1 {
  font-size: 31px;
}
.post-body h2 {
  font-size: 29px;
}
.post-body h3 {
  font-size: 27px;
}
.post-body h4 {
  font-size: 25px;
}
.post-body h5 {
  font-size: 23px;
}
.post-body h6 {
  font-size: 31px;
}
